---
/**
 * Full width image with optional caption.
 */
import BaseImage from '../base/BaseImage.astro'
import createNanoID from '../../composables/useCreateNanoID'

type Props = {
	imgName: string
	altText?: string
	caption?: string
}
const { imgName, altText = '', caption } = Astro.props

const describedByID = createNanoID(Astro.self.name, caption)
---

<div class:list={['fullWidth', 'heroImg']}>
	<BaseImage describedBy={describedByID} imgName={imgName} altText={altText} />
	{
		!!caption && (
			<p id={describedByID} class='imgCaption'>
				<small>{caption}</small>
			</p>
		)
	}
</div>

<style lang='scss'>
	.heroImg {
		width: 100%;

		> .imgCaption {
			display: block;
			text-align: center;
			font-style: italic;
			margin: var(--s-4) auto 0;
		}
	}
</style>
