---
/**
 * Full width image with optional caption.
 */
import BaseImage from '../../base/BaseImage.astro'
import createNanoID from '../../../composables/useCreateNanoID'

type Props = {
	imgName: string
	altText?: string
	caption?: string
}
const { imgName, altText = '', caption } = Astro.props

const describedByID = createNanoID(Astro.self.name, caption)
---

<div class:list={['fullWidth', 'fullWidthImg']}>
	<BaseImage describedBy={describedByID} imgName={imgName} altText={altText} />
	{
		!!caption && (
			<p class='imgCaption'>
				<small>
					Caption: <span id={describedByID}>{caption}</span>
				</small>
			</p>
		)
	}
</div>

<style lang='scss'>
	.fullWidthImg {
		width: 100%;
		max-width: fit-content;

		> .imgCaption {
			display: block;
			text-align: center;
			font-style: italic;
			margin: var(--s-4) auto 0;
		}
	}
</style>
