---
/**
 * Full width image with optional caption.
 */
import BaseImage from '../../base/BaseImage.astro'
import createNanoID from '../../../composables/useCreateNanoID'

type Props = {
	imgName: string
	isFullWidth?: boolean
	altText?: string
	caption?: string
}
const { imgName, isFullWidth = false, altText = '', caption } = Astro.props

const labelledbyID = createNanoID(Astro.self.name, caption)
---

<div class:list={[{ fullWidth: isFullWidth }, 'soloImg']}>
	<BaseImage
		labelledby={labelledbyID}
		imgName={imgName}
		altText={altText}
	/>
	{
		!!caption && (
			<p class='imgCaption'>
				<small>
					Caption: <span id={labelledbyID}>{caption}</span>
				</small>
			</p>
		)
	}
</div>

<style lang='scss'>
	.soloImg {
		max-width: 100%;

		> :global(picture, img) {
			width: 100%;
			display: block;
			margin: 0 auto;
		}

		> .imgCaption {
			display: block;
			text-align: center;
			font-style: italic;
			margin: var(--s-4) auto 0;
		}
	}
</style>
