---
import '../styles/root.scss'
import '../styles/specifiedLayouts/catalogLayout.scss'
import SkipToContent from '../components/navigation/SkipToContent.astro'
import overgrowthLogo from '../assets/logo-overgrowth.svg'

type Props = {
	title: string
	description: string
	isTopicsPage?: boolean
}

const { title, description, isTopicsPage = false } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1, user-scalable=YES'
		/>
		<link
			rel='icon'
			href='/favicon.png'
			sizes='any'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<meta
			name='author'
			content='Florida State College at Jacksonville'
		/>
		<meta
			name='description'
			content={description}
		/>
		<title>{title}</title>
	</head>
	<body>
		<div>
			<SkipToContent />
			{
				isTopicsPage && (
					<header>
						<nav>
							<a href='/'>Back to all topics</a>
						</nav>
					</header>
				)
			}
			<main>
				<h1
					id='titleHeading'
					tabindex='-1'>
					{title}
				</h1>
				<slot />
			</main>
		</div>
		<footer>
			<a href='https://github.com/andrewgus/overgrowth-ILP'
				><img
					role='img'
					src={overgrowthLogo.src}
					alt='Overgrowth Github Page'
				/></a
			>
		</footer>
	</body>
</html>

<style lang='scss'>
	@use '../styles/mixins/buttons.scss';
	@use '../styles/mixins/shadows.scss';
	body {
		padding: 0 var(--s-4);
		> div {
			max-width: 80ch;
			margin: var(--s2) auto var(--s-10);
			padding: var(--s2) var(--s2) var(--s4);
			background-color: var(--offWhite);
			border: 2px solid var(--darkGray);
			border-radius: var(--s2);
		}
	}

	main {
		margin: var(--s2) var(--s4);
		> :global(p) {
			margin-bottom: var(--s2);
		}
	}
	@media only screen and (max-width: 66ch) {
		main {
			margin: 0;
		}
	}
	nav {
		padding: var(--s0) 0 var(--s2);
		margin-bottom: var(--s2);
		border-bottom: 1px solid var(--darkGray);

		> a {
			@include buttons.primary();
			@include shadows.blueDropShadow();
			text-decoration: none;
			max-width: max-content;
			border-radius: var(--s10);
			color: var(--black);
			&:visited:not(:hover) {
				color: var(--black);
			}
		}
	}
	footer {
		max-width: 80ch;
		margin: 0 auto;

		> a {
			float: right;
			padding-top: var(--s-2);
			width: 4ch;
			display: block;
		}
	}
</style>
