---
import '../styles/root.scss'
import TheLanding from '../components/landing/TheLanding.vue'
import TheLessonNav from '../components/navigation/TheLessonNav.vue'

export interface Props {
	title: string
	scene: string
	gradientColor?: string
}

const { title, scene, gradientColor = 'var(--white)' } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<script>
			import '../scripts/setSectionsHandler.js'
			import '../scripts/hashChangeHandler.js'
		</script>
		<title>{title}</title>
	</head>
	<body>
		<main>
			<article class='theLesson'>
				<TheLanding
					client:load
					title={title}
					scene={scene}
					color={gradientColor}
				/>
				<TheLessonNav client:load />
				<slot />
			</article>
		</main>
	</body>
</html>

<style is:global>
	.theLesson > section,
	.theLesson > astro-island > section {
		min-height: 90vh;
		padding: 0 var(--s-2);
	}
	.theLesson section:not([id='section1']) {
		border-top: 2px solid var(--darkGray);
	}
	.theLesson section:not(.feature):nth-child(2n + 1) {
		background-color: var(--offWhite);
	}
</style>
