---
import '../styles/root.scss'
import TheLanding from '../components/landing/TheLanding.vue'
import TheLessonNav from '../components/navigation/TheLessonNav.vue'

interface Props {
	title: string
	scene: string
	gradientColor?: string
}

const { title, scene, gradientColor = 'var(--white)' } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<script>
			import '../scripts/setSectionsHandler.js'
			import '../scripts/hashChangeHandler.js'
			import '../scripts/setLocksHandler.js'
			import '../service/updateLocalStorage.js'
		</script>
		<title>{title}</title>
	</head>
	<body>
		<main>
			<article class='theLesson'>
				<TheLanding
					client:load
					title={title}
					scene={scene}
					color={gradientColor}
				/>
				<TheLessonNav client:load />
				<!-- TODO: Include header and nav elements in the canvas2HTML ignoreElements function. Include btn that will print all static content as PDF if all features are turned off. If all features are turned off and there is no static content, and therefore no sections at all, then a warning will appear in the same place as the PDF (just below the toggle switches) informing learners that there is nothing to do. v-if on the scroll to start, if there are no sections to scroll to. -->
				<slot />
			</article>
		</main>
	</body>
</html>

<style is:global lang='scss'>
	.theLesson .section {
		min-height: 90vh;
		padding: 0 var(--s-4) var(--s-4);

		&:not(.firstSection) {
			border-top: 2px solid var(--darkGray);
		}
	}
	.theLesson .section:not(.feature):nth-child(2n + 1) {
		background-color: var(--offWhite);
	}
	section.isLocked {
		display: none;
	}
</style>
