---
import '../styles/root.scss'
import '../styles/specifiedLayouts/articleLayout.scss'
import AriaLiveAnnouncementsVue from '../components/a11yElements/AriaLiveAnnouncementsVue.vue'
import TheLocalStorageDialogVue from '../components/modals/TheLocalStorageDialogVue.vue'
import SkipToContent from '../components/navigation/SkipToContent.astro'
import TheLanding from '../components/landing/TheLanding.astro'
import TheLessonNavVue from '../components/navigation/TheLessonNavVue.vue'
import ActivitiesOffFooterVue from '../components/footer/ActivitiesOffFooterVue.vue'
import createID from '../composables/useCreateID'
import { addPageToCatalogStore } from '../store/catalogStore'
import SurveyLink from '../components/landing/SurveyLink.astro'

type Props = {
	title: string
	scene: 'planning-a-budget' | 'setting' | 'choose-path'
	gradientColor: string
	description: string
	language?: string
	areActivitiesExcluded?: boolean
	fileName?: never
}

const {
	title,
	scene,
	gradientColor,
	description,
	language = 'en',
	areActivitiesExcluded = false,
	fileName = Astro.url.pathname,
} = Astro.props

addPageToCatalogStore(
	fileName.split('/').at(-2)!,
	title,
	description,
	areActivitiesExcluded ? 'lesson' : 'interactive lesson'
)
---

<!doctype html>
<html lang={language}>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1, user-scalable=YES'
		/>
		<link
			rel='icon'
			href='/favicon.png'
			sizes='any'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<meta
			name='author'
			content='Florida State College at Jacksonville'
		/>
		<meta
			name='description'
			content={`This ${
				areActivitiesExcluded ? '' : 'interactive'
			} lesson covers ${description}. Presented by Florida State College at Jacksonville`}
		/>
		<script>
			import '../scripts/setSectionsHandler.js'
			import '../scripts/hashChangeHandler.js'
		</script>
		<title>
			{`${title} ${areActivitiesExcluded ? '' : 'Interactive'} Lesson`}
		</title>
	</head>
	<body id={`${createID(title)}-lesson`}>
		<AriaLiveAnnouncementsVue client:load />
		{!areActivitiesExcluded && <TheLocalStorageDialogVue client:load />}
		<SkipToContent />
		<SurveyLink />
		<TheLessonNavVue client:load />
		<main id='theLessonContent'>
			<TheLanding
				scene={scene}
				title={title}
				color={gradientColor}
			/>
			<slot />
		</main>
		{!areActivitiesExcluded && <ActivitiesOffFooterVue client:load />}
	</body>
</html>
